$govuk-assets-path: "/disclose-import-taxes-underpayment/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-import-taxes-underpayment/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
